﻿@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <header>@ViewData["abc"]</header>
    <h6>@ViewBag.someexample</h6>
    @Html.ActionLink("GotoInfo", "Info")
    @Html.ActionLink("GotoPrivacy", "Privacy")
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
