﻿<div>details of the page</div>
@{
    var student = ViewData["Student"] as x.Models.Student;
}
<div>
    <div>Student Id=@student.StudentId</div>
    <div>Student Name=@student.StudentName</div>
</div>