﻿@model Diksha_EmployeeCRUD_Aug22.Models.Employee;
<div>
    @using (Html.BeginForm()) 
        {
            @Html.Label("Please Enter name:")
            @Html.TextBoxFor(o => o.empname)<br />

            @Html.Label("Please Enter doj:")
            @Html.TextBoxFor(o => o.doj)<br />

            @Html.Label("Please Enter name:")
            @Html.TextBoxFor(o => o.role)<br />

            <input type="Submit"  value="AddEmployee"/>
        }
</div>