﻿@model IEnumerable<Diksha_EmployeeCRUD_Aug22.Models.Employee>

<div>
        <ul>
            @foreach(var item in ViewBag.empList)
            {
            <li>@item.empname|@item.doj|@item.role|</li>
            }
        </ul>
</div>
