﻿@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <header>@Html.ActionLink("Add Employee", "AddEmployee")</header>
    <header>@Html.ActionLink("Employee List", "EmployeeList")</header>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
