﻿@model Diksha_WebApplication_Employee.Models.Employee

<div>
    @{
        using (Html.BeginForm())
        {

            @Html.LabelFor(a => a.EmpName)
            @Html.TextBoxFor(a => a.EmpName)<bn />
            

            @Html.LabelFor(a => a.EmpId)
            @Html.TextBoxFor(a => a.EmpId)<bn />
            <input type="submit" value="Add Employee- Id" />
        }

    }
</div>
