﻿@model IEnumerable<Diksha_WebApplication_Employee.Models.Employee>
<div>
    @Html.ActionLink("Add Employee", "AddEmployee")
    <ul>
        @{ 
            foreach (var item in Model)
            {
              <li>@item.id|@item.EmpId|@item.EmpName|</li>
            }
        }
    </ul>
</div>