﻿@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>

    <header>@ViewData["Employee"]</header>
    @Html.ActionLink("Goto Index", "Index");
    @Html.ActionLink("Goto Details", "Details");
    @Html.ActionLink("Goto EmployeeList", "Employeelist");
    
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
